* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.moviedetailscontainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.25s ease;
    min-height: 100vh;
}

.light {
    background-color: whitesmoke;
    color: black;

}

.dark {
    background-color: #353439;
    color: white;
}
.cardDetails{
    line-height: 1.8;
}
.cardlight {
    background-color: whitesmoke;
    color: black;
}

.carddark {
    background-color: #353439;
    color: rgba(245, 245, 245, 0.925);
}

.moviedetailscontainer img {
    width: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.moviedetailscontainer h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.moviedetailscontainer p {
    font-size: 16px;
    margin: 5px 0;
}

.moviedetailscontainer button {
    padding: 8px 15px;
    margin-bottom: 20px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.moviedetailscontainer button:hover {
    background-color: #e5533d;
}