.homecontainer {
    padding: 20px;
    transition: all 0.3s ease;
    min-height: 100vh;
}

.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: #242329;
    color: white;
}