* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.favoritescontainer {
    padding: 20px;
    transition: all 0.3s ease;
}

.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: #242329;
    color: white;
}

.favcard {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.light .favcard {
    background-color: #fdf2f2;
    color: black;
}

.dark .favcard {
    background-color: #242329;
    color: white;
}

.favcard img {
    width: 100px;
    border-radius: 8px;
}

.favcard h2 {
    font-size: 18px;
    margin: 0;
}

.favcard button {
    margin-left: auto;
    padding: 8px 12px;
    border: none;
    background-color: #ff6347;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.favcard button:hover {
    background-color: #e5533d;
}