* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    padding: 15px 30px;
    color: #fff;
    transition: all 0.3s ease;
}

.light {
    background-color: cadetblue;
    color: black;
}

.dark {
    background-color: #242329;
    color: white;
}

.navbar button {
    border: none;
    font-size: 25px;
    transition: all 0.3s ease;
}

.light button {
    background-color: cadetblue;
    color: black;
}

.dark button {
    background-color: #242329;
    color: white;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.2s ease;
}

.navbar a:hover {
    color: #ff6347;
    /* Tomato color on hover */
}